version: '2.1'

services:
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: "MQTT"
    restart: always
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - /home/$USER/docker_files/mqtt/data:/mosquitto/data
      - /home/$USER/docker_files/mqtt/config:/mosquitto/config
      - /home/$USER/docker_files/mqtt/log:/mosquitto/log
    network_mode: "host"
    environment:
      - TZ=America/New_York

  grafana:
    image: grafana/grafana
    container_name: "grafana"
    depends_on:
      influxdb:
        condition: service_healthy
    environment:
      - TZ=America/New_York
      - PGID=1000
      - PUID=1000
    ports:
      - 3000:3000
    restart: on-failure
    volumes:
      - /home/$USER/docker_files/grafana:/var/lib/grafana

  influxdb:
    image: influxdb
    container_name: "influxdb"
    healthcheck:
      test: ["CMD", "curl", "-sI", "http://127.0.0.1:8086/ping"]
      interval: 30s
      timeout: 1s
      retries: 24
    network_mode: host
    environment:
      - TZ=America/New_York
    ports:
      - 8083:8083
      - 8086:8086
    restart: on-failure
    volumes:
      - /home/$USER/docker_files/influxdb:/var/lib/influxdb

  home-assistant:
    #image: homeassistant/home-assistant:0.64.3
    image: homeassistant/home-assistant:latest
    container_name: "hass"
    restart: always
    depends_on:
      influxdb:
        condition: service_healthy
      mqtt:
        condition: service_started
    healthcheck:
      test: ["CMD", "curl", "-f", "https://REDACTED"]
      interval: 30s
      timeout: 10s
      retries: 6
    ports:
      - 8123:8123
    volumes:
      - /home/$USER/docker_files/homeassistant/config:/config
    network_mode: "host"
    environment:
      - TZ=America/New_York

  homebridge:
    image: oznu/homebridge:latest
    container_name: "homebridge"
    restart: always
    depends_on:
      home-assistant:
        condition: service_healthy
    network_mode: host
    environment:
      - TZ=America/New_York
      - PGID=1000
      - PUID=1000
    volumes:
      - /home/$USER/docker_files/homebridge:/homebridge

  dasher:
    image: clemenstyp/dasher-docker:latest
    container_name: "Dasher"
    restart: always
    depends_on:
      homebridge:
        condition: service_started
    volumes:
      - ./dasher/config:/root/dasher/config
    network_mode: "host"

  unifi:
    image: jacobalberty/unifi:latest
    container_name: "Unifi"
    restart: always
    volumes:
      - ./unifi/data:/unifi/data
    ports:
      - 3478:3478/udp
      - 10001:10001/udp
      - 6789:6789/tcp
      - 8080:8080/tcp
      - 8880:8880/tcp
      - 8443:8443/tcp
      - 8843:8843/tcp
    environment:
      - TZ=America/New_York
    network_mode: "host"


  # minecraft:
    # #image: itzg/minecraft-server
    # image: ashdev/docker-spigot:1.12.2
    # container_name: "MC"
    # ports:
      # - "25565:25565"
    # volumes:
      # #- ./minecraft/data:/data
      # - ./minecraft/data:/minecraft
    # tty: true
    # stdin_open: true
    # restart: always
    # network_mode: "host"
    # environment:
      # EULA: "TRUE"
      # #TYPE: "FORGE"
      # DIFFICULTY: "normal"
      # OPS: "REDACTED"
      # #ICON: "https://pbs.twimg.com/profile_images/938049421459288064/1gdDDKnH_400x400.jpg"
      # ENABLE_COMMAND_BLOCK: "true"
      # ANNOUNCE_PLAYER_ACHIEVEMENTS: "true"
      # GENERATE_STRUCTURES: "true"
